@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
@keyframes spinGradient {
  to {
    transform: rotate(360deg);
  }
}

.animated-border {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
}

.animated-border::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: conic-gradient(
    #facc15,
    #22c55e,
    #3b82f6,
    #facc15
  );
  animation: spinGradient 6s linear infinite;
  filter: blur(8px);
}

.animated-border::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #111;
  border-radius: 0.65rem;
  z-index: 1;
}


/* index.css */
* {
  -webkit-overflow-scrolling: touch;
}
